.intro__bg {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/assets/intro-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.intro__card {
  width: 400px;
  padding: 80px 20px 20px;
}

.intro__logo {
  width: 50%;
  position: absolute;
  top: 0;
  max-width: 220px;
  z-index: 1;
  transform: translate(0, -50%);
}
